VI_N8N_Platform_Workflox.json
{
  "name": "VI_N8N_Platform_Workflox",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/crawling-data/crawl",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.chatInput}}"
            },
            {
              "name": "number",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        0
      ],
      "id": "35c01008-0441-4647-b89c-31be83089090",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        0
      ],
      "id": "dfc21521-8e44-4047-b3d7-30b5570584f8",
      "name": "When chat message received",
      "webhookId": "1cbd98e1-0509-4f95-9352-d54b7d2ce45f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a talented data aggregator and analyst who focuses on extracting key insights related to {{$('When chat message received').item.json.chatInput}}.\nYou can read and summarize all the main ideas from the provided data: {{$json.data}}, analyze the numerical information, and generate meaningful recommendations based on your analysis.\nYou are also able to filter out irrelevant or unnecessary information and present the final output in plain text format (not markdown).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        0
      ],
      "id": "c0a35ed5-8cbc-42ed-ba15-7cb827b1783c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "eed2531b-4b99-4854-ac76-80a7748a2c0a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DYLvu9ouCiONURwE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "66222d60-71a2-4e21-9f1b-5b8f6d4110b3",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f02e4347-4261-4b29-9b4f-dc1f56c8251d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aaa8c4078d4d50e2a5d10fa84f413e51fe6b2df5afd7441c1c7ff8f7399f75d3"
  },
  "id": "m3azh89EhbQNonAK",
  "tags": []
}